<div class="container-fact-form">
  <div class="fact-header text-center"><h2>Post your fact</h2></div>
  <%= simple_form_for fact do |f| %>
    <div calss="fact-title">
      <%= f.input :title %>
    </div>
    <%= f.input :photo, as: :file %>
    <%= f.input :communities, as: :check_boxes, collection: User::COMMUNITIES, input_html: { multiple: true } %>
    <%= f.input :interests, as: :check_boxes, collection: User::INTERESTS, input_html: { multiple: true } %>
    <%= f.button :submit, class: "donwload-btn btn-block mb-3" %>
  <% end %>
</div>
