<div class="article-header text-center">
  <h2 class="post-your-article">Post your article</h2>
</div>
<hr>
<%= simple_form_for article do |f| %>
  <%= f.input :title %>
  <%= f.input :subtitle %>
  <%= f.input :content, :input_html => {:rows => 10} %>
  <%= f.input :photo, as: :file %>
  <hr>
  <div class="text-left d-flex justify-content-around">
  <%= f.input :communities, as: :check_boxes,  include_hidden: false, input_html: { class: "toggle" }, collection: User::COMMUNITIES %>
  <%= f.input :interests, as: :check_boxes, include_hidden: false, input_html: { class: "toggle" }, collection: User::INTERESTS %>
  </div>
  <hr>
  <%= f.button :submit, class: "donwload-btn btn-block" %>
<% end %>
