<h3 class="text-center">Your Profile</h3>
<hr>
<p><%= cl_image_tag @user.avatar.key, class: "avatar-bordered" %><%= @user.email %></p>
<hr>
<div class="container">
  <h3 class="tags-title">Tags</h3>
  <ul>
    <% @user.communities.each do |community| %>
      <li class="tag-selector"><%= community %></li>
    <% end %>
  </ul>
  <ul>
    <% @user.interests.each do |interest| %>
      <li class="tag-selector"><%= interest %></li>
    <% end %>
  </ul>
</div>
<hr>
<%= link_to "Edit your profile.", edit_user_registration_path, class: "btn btn-success"%>
