<h3>Your Profile</h3>
<p><%= cl_image_tag @user.avatar.key, class: "avatar-bordered" %></p>
<p><%= @user.email %></p>
<h4>Your Communities</h4>
<% @user.communities.each do |communities| %>
<p><ul><%= communities.to_s %></ul></p>
<% end %>
<h4>Your Interests</h4>
<% @user.interests.each do |interests| %>
<p><ul><%= interests.to_s %></ul></p>
<% end %>

<%= link_to "Edit your profile.", edit_user_registration_path, class: "btn btn-success"%>
