<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "#{@article.title} - FavelaZap" %>
<% content_for :meta_description, @article.subtitle %>


<header class="container">
  <h1 class="text-left pt-2 font-weight-bold title" ><%= @article.title %></h1>
  <h2 class="text-left pb-1 subtitle"><%= @article.subtitle %></h2>
  <hr>
  <!-- AddToAny BEGIN -->
  <div class="d-flex justify-content-between">
    <div class="a2a_kit a2a_kit_size_32 a2a_default_style mb-2">
      <a class="a2a_button_whatsapp mr-2"></a>
      <a class="a2a_button_facebook mr-2"></a>
      <a class="a2a_button_twitter"></a>
    </div>
    <script async src="https://static.addtoany.com/menu/page.js"></script>
    <!-- AddToAny END -->
    <div class="like-btn">
      <span class="number-likes"><%= @article.users_likes.length %></span>
      <%= link_to likes_path(@article) do %>
        <% if @article.users_likes.include?(@user.id) %>
          <i class="fas fa-heart hearts"></i>
        <%else%>
          <i class="far fa-heart hearts"></i>
        <%end%>
      <%end%>
    </div>
  </div>
  <%= cl_image_tag @article.photo.key, crop: :fill, gravity: :auto, class: "card-img-top" %>
  <div class="d-flex justify-content-start align-items-end pt-3">
    <p class="reporter-name"><strong><em>By <%= @article.user.email %></em></strong></p>
    <%= cl_image_tag @article.user.avatar.key, class: "avatar avatar-show mb-1" %>
  </div>
  <p class="created-at"><%= @article.created_at.strftime("%e %B %Y") %></p>
</header>

<div class="container">
  <hr>
  <%= simple_format(@article.content) %>
</div>

<div class="container mb-3">
  <h3 class="tags-title">Tags</h3>
  <ul>
    <% @article.communities.each do |community| %>
      <li class="tag-selector"><%= community %></li>
    <% end %>
  </ul>
  <ul>
    <% @article.interests.each do |interest| %>
      <li class="tag-selector"><%= interest %></li>
    <% end %>
  </ul>
</div>

<div class="container">
  <%= pluralize @article.comments.size, "comments" %>
  <div>
    <% if @article.comments.blank? %>
      <p class="comment-content">Be the first to leave a comment!</p>
    <% else %>
      <% @article.comments.each do |comment| %>
        <p class="comment-content" id="comment-<%= comment.id %>"><%= comment.content %></p>
        <p class="comment-user"><em>By <%= comment.user.email %></em></p>
      <% end %>
    <% end %>
  </div>
  <%= render 'components/comment-form' %>
</div>
