<header class="container">
  <h1 class="text-left py-3 font-weight-bold"><%= @article.title %></h1>
  <h2 class="text-left pb-1 subtitle"><%= @article.subtitle %></h2>
  <%= social_share_button_tag(@article.title) %>
  <%= cl_image_tag @article.photo.key, crop: :fill, gravity: :auto, class: "card-img-top" %>
  <div class="d-flex justify-content-start align-items-end pt-3">
    <p class="reporter-name"><strong><em>By <%= @article.user.email %></em></strong></p>
    <%= cl_image_tag @article.user.avatar.key, class: "avatar avatar-show" %>
  </div>
    <p class="created-at"><%= @article.created_at.strftime("%e %B %Y") %></p>
</header>

<div class="container">
  <%= simple_format(@article.content) %>
</div>

<br>

<div class="container">
  <h3 class="tags-title">Tags</h3>
  <ul>
    <% @article.communities.each do |community| %>
      <li class="tag-selector"><%= community %></li>
    <% end %>
  </ul>
  <ul>
    <% @article.interests.each do |interest| %>
      <li class="tag-selector"><%= interest %></li>
    <% end %>
  </ul>
</div>

<div class="container">
  <%= pluralize @article.comments.size, "comments" %>
  <div id="reviews">
    <% if @article.comments.blank? %>
      <p>Be the first to leave a comment</p>
    <% else %>
      <% @article.comments.each do |comment| %>
        <p><%= comment.content %></p>
      <% end %>
    <% end %>
  </div>
  <%= render 'components/comment-form' %>
</div>
