<div class="container-edit">
<div class="home-container">
<%= render 'components/banner' %>
<div class="infos">
  <%= render 'components/info-carousel' %>
</div>
<div class="communitites">
  <%= render 'components/communities' %>
</div>
<div class="container ml-2 mb-3">
  <%= render 'components/map' %>
</div>
<div class="mock-up">
  <%= render 'components/mockup' %>
</div>
</div>
</div>
